/* Playing Field */
article#schoondorp {
	overflow: hidden;
	height: 92%;
	display: block;
}
/* Local Elements */
.element {
	position: absolute;
}


/* Circle */
.element .circle {
	top: 39%;
	left: 37%;
	width: 50px;
	height: 50px;
	position: absolute;
	border-radius: 25px;
	padding: 6px;
	border: 8px solid rgba(255,255,255,.6);
}
	.circle div {
		width: 22px;
		height: 22px;
		background-color: #ffffff;
		border-radius: 11px;
		box-shadow: 0 0 3px rgba(0,0,0,.3),
					inset 0 -2px 1px -1px rgba(0,0,0,.20);
	}

.element.energy {
	top: 111px;
	left: 334px;
}
	.element.energy > img {
		width: 486px;
	}
.element.river {
	bottom: -3px;
}
	.element.river > img {
		width: 100%;
	}

.element.trash {
	top: 363px;
	left: 309px;
}
	.element.trash > img {
		width: 168px;
	}

.element.food {
	top: 384px;
	left: 533px	
}
	.element.food > img {
		width: 334px;
	}

.info {
	display: none;
	z-index: 50;
	position: fixed;
	top: 50%;
	left: 30%;
	width: 430px;
}
	.info.window header {
		overflow: hidden;
	}
		.info.window header > div {
			float: right;
		}
		.info.window header .level-1 span:nth-child(1) { color: #dd6920; font-size: 1.3em; }
		.info.window header .level-2 span:nth-child(2) { color: #dd6920; font-size: 1.3em; }
		.info.window header .level-3 span:nth-child(3) { color: #dd6920; font-size: 1.3em; }
	.info.window.small {
		margin-top: -27%;
	}
	.info.window h1 {
		float: left;
	}
	.info.window .level > div:first-child {
		float: left;
	}
	.info.window .level > div.reward {
		float: right;
	}
		.info.window .level > div.reward h2 {
			margin-bottom: 0;
		}
		.info.window .level > div.reward span {
			margin-bottom: .6em;
			display: block;
		}
		.info.window .level > div.reward img {
			width: 73px;
			height: 63px;
			border-radius: 5px;
			border: 2px solid #df6824;
		}
	.info .how {
		clear: both;
		text-align: center;
		line-height: 1.8em;
	}
		.info .how h2 {
			display: inline;
		}
		.info .how i {
			margin-left: 10px;
		}
	.info .how p {
		display: none;
		text-align: left;
		line-height: 1.6em;
	}
	.info.show {
		display: block;
	}

.info .numbers {
	margin: 0 auto;
	clear: both;
}
	.info .numbers > figure {
		text-align: center;
		display: inline-block;
		margin-top: 25px;
	}
	.info .numbers .total span:nth-child(1) {
		margin-bottom: 5px;
		display: block;
	}
	.info .numbers .total span:nth-child(2) {
		height: 60px;
		width: 60px;
		border-radius: 50%;
		background-color: #959595;
		color: #ffffff;
		display: block;
		line-height: 60px;
		text-align: center;
		font-size: 1.5em;
	}

.info > .level {
	padding: 25px 0;
	border-top: 1px solid #8b8b8b;
	border-bottom: 1px solid #8b8b8b;
	overflow: auto;
	margin: 25px 0;
}

/* Overview Elements */
.profile {
	top: 5%;
	left: 40%;
}
	#profiles {
		width: 100%;
		height: 100%;
	}
		.profile:nth-child(1) { top: 3%; left: 2%; }
		.profile:nth-child(2) { top: 28%; left: 37%; }
		.profile:nth-child(3) { top: 10%; left: 60%; }
		.profile:nth-child(4) { top: 61%; left: 54%;}
		.profile:nth-child(5) { top: 50%; left: 7%;}

	.profile .window {
		float: none;
		position: absolute;
		top: 0;
		left: 65%;
		width: 100%;
		z-index: 1;
	}
	.profile img {
		width: 100px;
		border-radius: 50%;
		padding: 15px;
		box-sizing: content-box;
		border: 30px solid rgba(255,255,255,.4);
	}

	.profile-info .mail {
		position: absolute;
		top: 5px;
		right: 5px;
	}

	.profile-info .toggle-progress {
		position: absolute;
		bottom: 5px;
		right: 5px;
	}

	.profile-info .progress {
		display: none;
	}

/*=== GAME ===*/


/* Characters */
#chars {
	display: none;
	z-index: 1;
	height: 140px;
	padding: 5px 5px 0 5px;
	position: absolute;
	bottom: 20px;
	left: -250px;
	overflow: hidden;
	-webkit-animation: move 20s linear 1;
	-o-animation: move 20s linear 1;
	animation: move 20s linear 1;
}
	#chars img {
		height: 100%;
		-webkit-animation: wiggle infinite;
	}
	#chars img:nth-child(1) { -webkit-animation-duration: 1s; }
	#chars img:nth-child(2) { -webkit-animation-duration: .6s; }
	#chars img:nth-child(3) { -webkit-animation-duration: .8s; }
	#chars img:nth-child(4) { -webkit-animation-duration: 1.2s; }

	@-webkit-keyframes wiggle {
		0% { -webkit-transform: rotate(-5deg); }
		50% { -webkit-transform: rotate(5deg); }
		100% { -webkit-transform: rotate(-5deg); }
	}

	@-webkit-keyframes move {
		0% { left: -280px; bottom: -50px;}
		30% { bottom: 20px; }
		100% { left: 100%; }
	}


/* Summary */
article .sidebar {
	position: relative;
	float: right;
	right: -275px;
	height: 100%;
	z-index: 100;
	background-color: #f0f0f0;
	padding: 30px 25px 30px 0;
	height: 94%;
	top: 3%;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 0 8px 0 rgba(0,0,0,.4);
	transition: .2s;
}
	article .sidebar.out {
		right: 0;
	}
	article .sidebar .content {
		overflow: auto;
		width: 215px;
		height: 100%;
		float: left;

		/* This bugger is to prevent the JS from misbehaving */
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
	article .sidebar .content figure.progress .current,
	article .sidebar .content figure.progress,
	.info figure.progress .current,
	.info figure.progress {
		height: 30px;
	}
		article .sidebar .content ul {
			margin-bottom: 35px;
		}
			article .sidebar .content ul li {
				display: block;
				margin-top: 15px;
				line-height: 60px;
			}
				article .sidebar .content ul li span {
					color: #adadad;
				}
			article .sidebar .content ul li img {
				height: 60px;
			}
			article .sidebar .content ul li span:first-of-type {
				font-size: 1.6em;
				margin-right: 3px;
			}

	article .sidebar #pullout {
		float: left;
		margin-right: 30px;
		border-right: 1px solid #b1b1b1;
		height: 100%;
		display: table;
	}
		article .sidebar #pullout i {
			display: table-cell;
			vertical-align: middle;
			transition: .2s;
			padding: 0 12px;
		}

/* Background */
.game {
	width: 100%;
	height: 100%;
	position: relative;
}
.game #local {
	display: block;
	width: 100%;
	height: 100%;
}
.game #local .bg {
	background: url('../img/game/bg.jpg');
	background-size: 100% 101%;
	width: 100%;
	height: 100%;
	position: absolute;
}

.game #overview {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
}
.game #overview .bg {
	background: url('../img/game/bg-out.jpg') 0 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

.game #local.visible, .game #overview.visible {
	display: block;
}