/* Playing Field */
article#schoondorp {
	overflow: hidden;
	height: 93%;
	display: block;
}
/* Local Elements */
.element {
	position: absolute;
}
.element img {
	
}

.element.energy {
	top: 111px;
	left: 334px;
}
	.element.energy img {
		width: 486px;
	}
.element.river {
	bottom: -3px;
}
	.element.river img {
		width: 100%;
	}

.element.trash {
	top: 363px;
	left: 309px;
}
	.element.trash img {
		width: 168px;
	}

.element.food {
	top: 384px;
	left: 533px	
}
	.element.food img {
		width: 334px;
	}

.info {
	display: none;
	z-index: 50;
}
	.info.show {
		display: block;
		position: absolute;
	}

/* Overview Elements */
.profile {
	top: 5%;
	left: 40%;
}
	.profile .window {
		float: none;
		position: relative;
	}
	.profile img {
		width: 100px;
	}

	.profile-info {

	}

	.profile-info .mail {
		position: absolute;
		top: 5px;
		right: 5px;
	}

	.profile-info .toggle-progress {
		position: absolute;
		bottom: 5px;
		right: 5px;
	}

	.profile-info .progress {
		display: none;
	}

/*=== GAME ===*/
/* Summary */
article .sidebar {
	position: relative;
	float: right;
	right: -250px;
	height: 100%;
	z-index: 100;
	background-color: #f0f0f0;
	padding: 30px 0;
	height: 94%;
	top: 3%;
	border-radius: 5px;
	box-shadow: 0 0 8px 0 rgba(0,0,0,.4);
	transition: .2s;
}
	article .sidebar.out {
		right: 0;
	}
	article .sidebar .content {
		overflow: auto;
		width: 215px;
		height: 100%;
		float: left;

		/* This bugger is to prevent the JS from misbehaving */
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
	article .sidebar #pullout {
		float: left;
		padding: 0 12px;
		margin-right: 30px;
		border-right: 1px solid #b1b1b1;
		height: 100%;
		display: table;
	}
		article .sidebar #pullout i {
			display: table-cell;
			vertical-align: middle;
			transition: .2s;
		}
		article .sidebar #pullout i.out {
			-webkit-transform: rotate(180deg);
		}

/* Background */
.game {
	width: 100%;
	height: 100%;
	position: relative;
}
.game #local {
	display: block;
	width: 100%;
	height: 100%;
}
.game #local .bg {
	background: url('../img/game/bg.jpg');
	background-size: 100% 101%;
	width: 100%;
	height: 100%;
	position: absolute;
}

.game #overview {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
}
.game #overview .bg {
	background: url('../img/game/bg-out.jpg') 0 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

.game #local.visible, .game #overview.visible {
	display: block;
}