/* Local Elements */
.element {
	position: absolute;
}
.element img {
	width: 100%;
	height: 100%;
}

.info {
	display: none;
	z-index: 50;
}
	.info.show {
		display: block;
		position: absolute;
	}

/* Overview Elements */
.village {
	z-index: 1;
	top: 5%;
	left: 40%;
}