/*=== GENERAL ===*/
body {
	background: url('../img/bg.jpg');
	background-size: cover;
}
#deactivate {
	color: #888888;
	font-weight: normal;
	text-decoration: underline;
	float: right;
	font-size: 0.875em;
}
select {
	padding: 10px 30px 10px 15px;
	-webkit-appearance: none;
	background: url('../img/icons/dd.gif') no-repeat 115px #bfbfbf;
	color: #ffffff;
	text-shadow: 0 1px 2px #444;
	font-size: 0.875em;
	font-weight: bold;
	border: 1px solid #8f8f8f;
	border-radius: 3px;
}
div[role="main"] {
	padding: 55px 30px;
}
.cancel {
	position: fixed;
	width: 100%;
	height: 100%;	
	z-index: 2;
	top: 0;
	display: none;
}
	.cancel.darken {
		background-color: rgba(0,0,0,.4);
	}
button {
	width: 100%;
	height: 45px;
	background-color: #de6923;
	border: 1px solid #9b4e20;
	border-radius: 5px;
	box-shadow: inset 1px 1px 1px rgba(255,255,255,.2),
				inset -1px -1px 1px -1px rgba(0,0,0,.2);
	color: #ffffff;
	font-weight: bold;
	margin: 0 auto;
	padding: 0 25px;
	display: block;
}
	button.grey {
		background-color: #bfbfbf;
		border: 1px solid #8f8f8f;
	}
	button.grey:hover {
		background-color: #bababa;
	}
	button:hover {
		background-color: #d26423;
	}
nav[role="aside"] {
	float: left;
	width: 175px;
	position: relative;
	margin-right: 25px;
	background-color: #eeeeee;
	padding: 20px;
	box-shadow: 0 5px 10px rgba(0,0,0,.35),
				inset 0 -2px 1px -1px rgba(0,0,0,.20);
	border-radius: 5px;
}
	nav[role="aside"] li {
		position: relative;
	}
	nav[role="aside"] li a {
		width: 135px;
		padding: 30px 0 20px;
		text-align: center;
		display: block;
		border: 1px solid #9b4e20;
		border-top: none;
		background: url('../img/side-bg.jpg') 0 0 no-repeat #e5842b;
		color: #ffffff;
		box-shadow: inset 0 2px 1px -1px rgba(255,255,255,.20);
	}
		nav[role="aside"] li:first-of-type a {
			border-top: 1px solid #9b4e20;
		}
		nav[role="aside"] li a.active {
			background: url('../img/side-active-bg.jpg') 0 0 no-repeat;
		}
		nav[role="aside"] li a.active::after {
			content: " ";
			right: -15px;
			top: 50%;
			margin-top: -19px;
			position: absolute;
			display: block;
			width: 16px;
			height: 38px;
			background: url('../img/icons/active.png') 0 0 no-repeat;
		}
		nav[role="aside"] li a span {
			text-shadow: 0 1px 1px rgba(0,0,0,.40);
			display: block;
			margin-top: 5px;
		}
		nav[role="aside"] li a img {
			width: 40px;
			display: block;
			margin: 0 auto;
		}

		/* Nav logout button */
		nav[role="aside"] li .logout {
			margin-top: 20px;
			border-top: 1px solid #9b4e20;
			padding: 15px 0;
		}
		nav[role="aside"] li .logout span {
			margin-top: 0;
		}
.window {
	padding: 40px 50px;
	overflow: auto;
	margin: 0 auto;
	background-color: #eeeeee;
	box-shadow: 0 2px 5px rgba(0,0,0,.2),
				inset 0 -2px 1px -1px rgba(0,0,0,.20);
	border-radius: 3px;
}
	.window + .window {
		margin-top: 25px;
	}
	.window.small {
		padding: 20px 30px;
		float: left;
	}
		.window.small:first-of-type {
			margin-top: 0;
		}
		.window h1 {
			font-size: 1.4em;
			color: #de6923;
		}
	.window.w1 {
		width: 33.333%;
		max-height: 375px;
		float: right;
		/* A bit odd. Margin disappears on page change. Float right should do the trick */
	}
	.window.w2 {
		width: 63.667%;
	}
	.window.w3 {
		width: 100%;
	}

/* Placeholder image */
.ph {
	width: 100%;
	margin-top: 10px;
}

/* GRAPH */
.graph rect {
	fill: #f7941d;
}
.graph .domain {
	fill: none;
	stroke: #b1b1b1;
}
.graph text {
	fill: #b1b1b1;
}

/* ICONS */
.fa {
	color: #da6822;
	transition: .2s;
}
i.out {
	-webkit-transform: rotate(180deg);
}



/*=== HEADER ===*/
body > header {
	display: inline-block;
	padding: 20px 25px;
	width: 100%;
	position: relative;
	background-color: #eeeeee;
	height: 8%;
	box-shadow: 0 0 5px rgba(0,0,0,.45);
}
body > header h1 {
	text-align: center;
	font-size: 2em;
	color: #de6923;
}
body > header > a[role=back] {
	float: left;
}
body > header nav {
	position: absolute;
	right: 0;
	top: 0;
}
	body > header nav li {
		float: left;
	}

/* Icons */
nav[role=main] li {
	margin: 15px 40px 0 0;
}
	nav[role=main] li:last-of-type {
		margin-right: 25px;
	}


/*=== ARTICLE ===*/
article {
	position: relative;
	overflow: visible;
	margin: 0 auto;
	display: block;
	/* Fixes dimensions issue */
}
article[data-route] {
	display: none;
}
article.dashboard {
	margin-top: 25%;
}
article.active {
	display: table;
}


/*=== FORM ===*/
form input, textarea {
	display: block;
	margin-top: 10px;
	border: 2px solid #b1b1b1;
	padding: 10px;
	height: 45px;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(255,255,255,.6);
	background-color: #e3e5e8;
	font-family: 'Arial';
}
	textarea {
		height: auto;
		width: 100%;
	}
	form input:first-child {
		margin-top: 0;
	}
	form input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
		color: 888888;
		font-weight: bold;
	}

form input[type='range'] {
    -webkit-appearance: none !important;
    background: #de6923;
    height: 30px;
    width: 100%;
    padding: 0;
}
form input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #f7941d;
    height: 45px;
    width: 35px;
    border-radius: 5px;
}

form button {
	width: 200px;
	margin: 20px auto 0;
}
form a {
	display: block;
	color: #b1b1b1;
	font-size: 0.875em;
	margin: 10px 0;
	text-align: center;
}
form ~ a {
	display: block;
	text-align: center;
}


/*=== USAGE ===*/
/* Local nav */
article[data-route=usage] nav {
	float: left;
	height: 100%;
	width: 10%;
}
article[data-route=usage] section {
	float: left;
	width: 90%;
}
article[data-route=usage] section figure {
	max-width: 500px;
}
	article[data-route=usage] section figure input {
		width: 100%;
		display: block;
	}

.goal h1 {
	float: left;
}
.goal h1 span {
	color: #878787;
	font-weight: normal;
}
.goal .edit-goal {
	float: right;
	font-weight: bold;
}
#goalform figure {
	margin: 30px 0;
	position: relative;
}
#goalform figure span:nth-child(1) { float: left; }
#goalform figure span:nth-child(2) { float: right; }
#goalform .goalvalue {
	margin-top: -20px;
}
#goalform label:nth-of-type(3) {
	margin-top: 20px;
	display: block;
}

.popup {
	display: none;
	position: absolute;
	z-index: 100;
	background: white;
	padding: 30px;
	background-color: #eeeeee;
	border-radius: 5px;
	width: 420px;
	left: 50%;
	top: 50%;
	margin-left: -210px;
	margin-top: -210px;
}
	.popup .fa-times {
		position: absolute;
		top: 10px;
		right: 10px;
	}

.tip {
	position: fixed;
	width: 390px;
	margin-left: -195px;
	top: 91%;
	left: 50%;
	bottom: 0;
	background-color: #f0f0f0;
	border-radius: 3px 3px 0 0;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
	padding: 15px;
	transition: .2s;
}
	.tip.out {
		top: 75%;
	}
	.tip i {
		float: right;
	}

/*=== PROFILE ===*/
.avatar {
	height: 115px;
	width: 115px;
	display: block;
	margin: 0 auto 30px;
	border-radius: 50%;
	border: 1px solid #8f8f8f;
	overflow: hidden;
}
article[data-route="profile"], article[data-route="edit"] {
	width: 55%;
}
article[data-route="profile"] .table-wrapper {
	padding-top: 30px;
	border-top: 1px solid #b1b1b1;
}
article[data-route="profile"] tr td {
	padding: 10px 0;
	line-height: 1.5em;
}
article[data-route="profile"] tr td:first-child {
	padding-right: 35px;
	color: #555555;
}
article[data-route="profile"] tr td:first-child i,
article[data-route="edit"] tr td:first-child i {
	font-size: 1.5em;
	margin-right: 10px;
}

article[data-route="edit"] form tr td {
	vertical-align: middle;
	padding: 10px 0;
}
article[data-route="edit"] form tr td:first-child {
	padding-right: 35px;
}
article[data-route="edit"] button.grey {
	float: left;
	margin-right: 20px;
}

/*=== MISC ===*/
/* Dashboard Menu */
article.dashboard .window {
	max-width: 95%;
	padding: 15px;
}
article.dashboard .window nav li {
	display: block;
	float: left;
	margin-right: 15px;
}
	article.dashboard .window nav li:nth-child(4n) {
		margin-right: 0;
	}
	article.dashboard .window nav li:nth-child(4) {
		margin-bottom: 15px;
	}
	article.dashboard .window nav li img {
		display: block;
		height: 57px;
		margin: 0 auto 28px;
	}
	article.dashboard .window nav li a {
		width: 210px;
		display: block;
		padding: 30px 0 25px;
		text-align: center;
		color: #ffffff;
		border: 1px solid;
		border-radius: 5px;
		background-size: fill;
	}
	article.dashboard .window nav li a span {
		text-shadow: 0 1px 1px rgba(0,0,0,.60);
	}

	article.dashboard .window nav li:nth-child(1) a { border-color: #9b4e20; background-image: url('../img/bg_orange.png');}
	article.dashboard .window nav li:nth-child(2) a { border-color: #548312; background-image: url('../img/bg_green.png');}
	article.dashboard .window nav li:nth-child(3) a { border-color: #a63c78; background-image: url('../img/bg_purple.png');}
	article.dashboard .window nav li:nth-child(4) a { border-color: #aa9215; background-image: url('../img/bg_yellow.png');}
	article.dashboard .window nav li:nth-child(5) a { border-color: #21708b; background-image: url('../img/bg_lightblue.png');}
	article.dashboard .window nav li:nth-child(6) a { border-color: #c32b2d; background-image: url('../img/bg_red.png');}
	article.dashboard .window nav li:nth-child(7) a { border-color: #26a086; background-image: url('../img/bg_turquoise.png');}
	article.dashboard .window nav li:nth-child(8) a { border-color: #224a85; background-image: url('../img/bg_blue.png');}


/* Login window */
article.login {
	padding-top: 15%;
	width: 40%;
}

article.login form + a {
	margin-top: 20px;
}

article.login form input {
	
}
	article.login form input {
		width: 100%;
	}


/* Progress */
figure.full-progress-bar {
	padding-top: 10px;
	position: relative;
	clear: both;
}
figure.full-progress-bar + figure.full-progress-bar {
	margin-top: 10px;
}
figure.full-progress-bar span {
	display: block;
	font-size: .8em;
}
	figure.full-progress-bar span.progress-percentage, .goalvalue {
		position: absolute;
		color: #ffffff;
		padding: 0 10px;
		margin-top: -10px;
		height: 25px;
		line-height: 25px;
		background-color: #de6923;
		box-shadow: inset 1px 1px 1px rgba(255,255,255,.2);
		border: 1px solid #874d1d;
		border-radius: 3px;
	}
	figure.full-progress-bar span:nth-child(2) {
		float: left;
	}
	figure.full-progress-bar span:nth-child(3) {
		float: right;
	}
figure.full-progress-bar ~ span { margin-top: 5px; }
figure.full-progress-bar + span { float: left; }
figure.full-progress-bar + span + span { float: right; }

figure.progress {
	width: 100%;
	height: 40px;
	background-color: #e3e5e8;
	border: 2px solid #b1b1b1;
	border-radius: 5px;
	margin-top: 20px;
}
figure.progress .current {
	height: 40px;
	margin: -2px 0 0 -2px;
	border: 1px solid #844f1c;
	border-radius: 5px;
	background: url('../img/progress.jpg') 0 0 repeat-x;
	background-size: cover;
}

/*=== MESSAGES ===*/
#menu {	
	background-color: #de6923;
	padding: 10px 30px;
	overflow: auto;
}
	#menu i {
		color: #ffffff;
		float: right;
	}

.window.message:first-of-type {
	margin-top: 0;
}

.window.message {
	margin: 20px auto 0;
	width: 70%;
}

.message .avatar {
	float: left;
	margin: 0 20px 0 0;
}

.message time {
	float: right;
}

/*=== EXPLANATION ===*/
#explanation .window.small {
	width: 75%;
	margin: inherit auto;
	float: none;
}
#explanation iframe {
	width: 100%;
	height: 373px;
}
#explanation h1 {
	margin-bottom: .5em;
	font-weight: bold;
}
#explanation h2 {
	margin: 0;
}
#explanation h2 + p {
	margin: .1em 0 1.5em;
}

/*=== SENSORS ===*/
#sensors .window {
	text-align: center;
}
#sensors h1, #sensors p {
	text-align: left;
}

#sensors .table-wrapper {
	background-color: #e4e5e9;
	border-radius: 3px;
	border: 1px solid #c6c7cb;
	padding: 20px 30px;
	margin-top: 25px;
	display: inline-block;
}
	#sensors .table-wrapper + button {
		width: auto;
		margin: 30px inherit;
	}
	#sensors .table-wrapper + button + span {
		color: #7ac775;
		font-weight: bold;
		display: none;
	}
		#sensors .table-wrapper + button + span i {
			color: #7ac775;
			font-weight: normal;
		}
#sensors .table-wrapper td, #sensors .table-wrapper th {
	padding: 7px 10px 0;
	height: 45px;
	vertical-align: middle;
	text-align: left;
	text-shadow: 0 1px 1px #ffffff;
	border-bottom: 1px solid #b7b8bc;
	width: 245px;
}
#sensors .table-wrapper th:nth-child(2), #sensors .table-wrapper td:nth-child(2) {
	border-left: 1px solid #b7b8bc;
	border-right: 1px solid #b7b8bc;
}
#sensors .table-wrapper th {
	color: #e26b19;
}

/* Here we go... */
.sensor {
	float: right;
	margin-top: -3px;
	border-radius: 3px;
	border: 1px solid #b0b0b2;
	color: #ffffff;
	width: 41px;
	height: 23px;
	position: relative;
	transition: .2s;
}
.sensor::after, sensor.off::after {
	padding: 4px 5px;
	border-radius: 3px;
	position: absolute;
	font-size: .8em;
	top: -1px;
}
.sensor::after {
	content: "on";
	right: -1px;
	left: 11px;
	background-color: #f7941d;
	border: 1px solid #c66d19;
}
.sensor.off::after {
	content: "off";
	left: -1px;
	right: 8px;
	background-color: #c9c9c9;
	border: 1px solid #9a9a9a;
}


/*=== SETTINGS ===*/
#settings input[type="checkbox"] {
	clear: both;
	display: block;
	float: left;
}
#settings input[type="checkbox"] + label {
	float: left;
}
#settings input[type="checkbox"] + label + h3 {
	margin-top: 0;
	padding-top: 2em;
}
#settings .window li {
	list-style-type: disc;
	font-size: 0.875em;
	margin-left: 1em;
	line-height: 1.6em;
}
#settings .window ul + button {
	width: auto;
	margin: 20px 0 0 0;
	background-color: #4566ab;
	color: #ffffff;
	line-height: 45px;
	padding: 0 10px;
	box-shadow: inset 1px 1px 1px rgba(255,255,255,.2);
	border: 1px solid #2e487b;
}
#settings .window ul + button > span {
	font-size: 1.2em;
}
#settings .window ul + button i {
	vertical-align: middle;
	margin: -2px 10px 0 0;
}
#settings .window ul + button i.fa-facebook {
	color: #4566ab;
	font-size: 1.2em;
}
#settings .window ul + button i.fa-square {
	color: #ffffff;
}