/*=== GENERAL ===*/
.window {
	padding: 35px 15px;
	display: table;
	margin: 0 auto;
	border: 1px solid #ddd;
	border-radius: 3px;
}
.fa {
	color: #333333;
}
	.fa:hover {
		color: #555555;
	}


/*=== HEADER ===*/
header {
	display: inline-block;
	padding: 15px 25px;
	width: 100%;
	position: relative;
/*	height: 7%;*/
}
header h1 {
	text-align: center;
}
header > a[role=back] {
	float: left;
}
header nav {
	position: absolute;
	right: 0;
	top: 0;
}
	header nav li {
		float: left;
	}

/* Icons */
nav[role=main] li {
	margin: 15px 40px 0 0;
}
	nav[role=main] li:last-of-type {
		margin-right: 25px;
	}


/*=== ARTICLE ===*/
article {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 93%;
}
article[data-route] {
	display: none;
}
article.active {
	display: block;
}


/*=== FORM ===*/
form input {
	display: block;
	margin: 0;
	border: 1px solid #ddd;
	padding: 10px;
}
	form input:first-of-type {
		border-radius: 5px 5px 0 0;
	}
	form input:last-of-type {
		border-radius: 0 0 5px 5px;
		border-top: 0;
	}

/*=== GAME ===*/
/* Summary */
article .sidebar {
	position: relative;
	float: right;
	right: -215px;
	height: 100%;
	z-index: 100;
}
	article.sidebar.animated {
		transition: .2s;
	}
	article .sidebar .content {
		overflow: auto;
		width: 215px;
		height: 100%;
		float: left;
		background-color: #f0f0f0;

		/* This bugger is to prevent the JS from misbehaving */
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
	article .sidebar .pullout {
		width: 20px;
		height: 100%;
		background-color: #222222;
		float: left;
	}

/* Background */
.game {
	width: 100%;
	height: 100%;
	position: relative;
}
.game #local {
	display: none;
}
.game #local .bg {
	background-color: green;
	width: 100%;
	height: 100%;
	position: absolute;
}

.game #overview {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
}
.game #overview .bg {
	background-color: darkgreen;
	width: 100%;
	height: 100%;
	position: absolute;
}

<<<<<<< HEAD
.game #local.visible, .game #overview.visible {
	display: block;
}


=======
>>>>>>> origin

/*=== USAGE ===*/
/* Local nav */
article[data-route=usage] nav {
	float: left;
	height: 100%;
	width: 10%;
}
article[data-route=usage] section {
	float: left;
	width: 90%;
}
article[data-route=usage] section figure {
	max-width: 500px;
}
	article[data-route=usage] section figure input {
		width: 100%;
		display: block;
	}

.popup {
	display: none;
	position: absolute;
	z-index: 100;
	background: white;
}

/*=== MISC ===*/
/* Dashboard Menu */
article.dashboard .window nav li {
	display: block;
	float: left;
	margin-right: 35px;
}
	article.dashboard .window nav li:last-child {
		margin-right: 0;
	}
	article.dashboard .window nav li img {
		display: block;
	}

article.dashboard .window {
	max-width: 80%;
}

/* Login window */
article.login .window {
	max-width: 30%;
}


/* The big overwrite */
.visible {
	display: block;
}
