
/*=== GENERAL ===*/
body {
	background: url('../img/bg.jpg');
}
div[role="main"] {
	padding: 55px 60px;
}
nav[role="aside"] {
	float: left;
}
.window {
	padding: 40px 50px;
	display: table;
	margin: 0 auto;
	background-color: #eeeeee;
	box-shadow: 0 5px 10px rgba(0,0,0,.35),
				inset 0 -2px 1px -1px rgba(0,0,0,.20);
	border-radius: 5px;
}
	.window.small {
		padding: 20px 30px;
		margin-top: 25px;
		float: left;
	}
		.window.small:first-of-type {
			margin: 0;
		}
	.window.w1 {
		width: 33.333%;
	}
	.window.w2 {
		width: 66.667%;
	}
	.window.w3 {
		width: 100%;
	}
.fa {
	color: #333333;
}
	.fa:hover {
		color: #555555;
	}




/*=== HEADER ===*/
header {
	display: inline-block;
	padding: 15px 25px;
	width: 100%;
	position: relative;
	background-color: #eeeeee;
	height: 7%;
	box-shadow: 0 0 5px rgba(0,0,0,.45);
}
header h1 {
	text-align: center;
	color: #de6923;
}
header > a[role=back] {
	float: left;
}
header nav {
	position: absolute;
	right: 0;
	top: 0;
}
	header nav li {
		float: left;
	}

/* Icons */
nav[role=main] li {
	margin: 15px 40px 0 0;
}
	nav[role=main] li:last-of-type {
		margin-right: 25px;
	}


/*=== ARTICLE ===*/
article {
	position: relative;
	overflow: visible;
	display: table;
	/* Fixes dimensions issue */
}
article[data-route] {
	display: none;
}
article.active {
	display: table;
}


/*=== FORM ===*/
form input {
	display: block;
	margin-top: 10px;
	border: 2px solid #b1b1b1;
	padding: 10px;
	height: 45px;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(255,255,255,.6);
	background-color: #e3e5e8;
}
	form input:first-child {
		margin: 0;
	}
	form input::-webkit-input-placeholder {
		color: 888888;
		font-weight: bold;
	}

form button {
	height: 45px;
	background-color: de6923;
	border: 2px solid 9b4e20;
	border-radius: 5px;
	width: 200px;
	box-shadow: inset 1px 1px 1px rgba(255,255,255,.2),
				inset -1px -1px 1px -1px rgba(0,0,0,.2);
	color: #ffffff;
	font-weight: bold;
}

/*=== GAME ===*/
/* Summary */
article .sidebar {
	position: relative;
	float: right;
	right: -215px;
	height: 100%;
	z-index: 100;
}
	article.sidebar.animated {
		transition: .2s;
	}
	article .sidebar .content {
		overflow: auto;
		width: 215px;
		height: 100%;
		float: left;
		background-color: #f0f0f0;

		/* This bugger is to prevent the JS from misbehaving */
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
	article .sidebar .pullout {
		width: 20px;
		height: 100%;
		background-color: #222222;
		float: left;
	}

/* Background */
.game {
	width: 100%;
	height: 100%;
	position: relative;
}
.game #local {
	display: block;
	width: 100%;
	height: 100%;
}
.game #local .bg {
	background-color: green;
	width: 100%;
	height: 100%;
	position: absolute;
}

.game #overview {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
}
.game #overview .bg {
	background-color: darkgreen;
	width: 100%;
	height: 100%;
	position: absolute;
}

.game #local.visible, .game #overview.visible {
	display: block;
}

/*=== USAGE ===*/
/* Local nav */
article[data-route=usage] nav {
	float: left;
	height: 100%;
	width: 10%;
}
article[data-route=usage] section {
	float: left;
	width: 90%;
}
article[data-route=usage] section figure {
	max-width: 500px;
}
	article[data-route=usage] section figure input {
		width: 100%;
		display: block;
	}

.popup {
	display: none;
	position: absolute;
	z-index: 100;
	background: white;
}

/*=== MISC ===*/
/* Dashboard Menu */
article.dashboard .window nav li {
	display: block;
	float: left;
	margin-right: 35px;
}
	article.dashboard .window nav li:last-child {
		margin-right: 0;
	}
	article.dashboard .window nav li img {
		display: block;
	}

article.dashboard .window {
	max-width: 80%;
}

/* Login window */
article.login {
	padding-top: 15%;
	width: 40%;
	margin: 0 auto;
}

article.login form input {
	
}
	article.login form input {
		width: 100%;
	}


/* Progress */
figure.progress {
	width: 100%;
	height: 40px;
	background-color: #e3e5e8;
	border: 2px solid #b1b1b1;
	border-radius: 5px;
}
figure.progress .current {
	height: 40px;
	margin: -2px 0 0 -2px;
	border: 2px solid #844f1c;
	border-radius: 5px;
	background: url('../img/progress.jpg') 0 0 repeat-x;
}

/* The big overwrite */
.visible {
	display: block;
}
