body {
	font-family: 'Montserrat', sans-serif;
	color: #878787;
}
h1 {
	font-size: 1.4em;
	color: #de6923;
	margin: 0;
	font-weight: bold;
}
h2 {
	font-size: 1.2em;
	margin: 0 0 1em 0;
	color: #de6923;
}
h3 {
	font-size: 1.6em;
	margin: 0;
}

p {
	font-size: 0.875em;
	margin: .5em 0;
	color: #888888;
	line-height: 1.6em;
}

a {
	text-decoration: none;
	color: #1199ee;
	font-weight: bold;
}